.position-fixed {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #fff;
  padding-bottom: 10px;
  border: 1px solid #d3d3d3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#popup_header {
  height: 25px;
  width: 100%;
  background-color: #d3d3d3;
  cursor: move;
  direction: rtl;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position-x: 5px;
  background-position-y: center;
}

.section {
  margin: 5px;
}

.btn {
  margin-right: 5px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  background-color: #555;
}

.btn.blank {
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.tab button:hover {
  background-color: #2d2e53;
}
.tab button.active {
  background-color: #7caffc;
  color: black;
}
.table-section {
  height: 100%;
}

.content {
  display: none;
  transition: opacity 0.3s ease;
  margin-bottom: 5px;
}

.content.active {
  display: block;
  opacity: 1;
  margin-bottom: 5px;
}
.AsButtonDesign{
  color: white;
  background-color: #555;
  border-radius: 5px;
  padding: 8px
}
.parent {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  }
  
  .div1 { grid-area: 1 / 1 }
  .div2 { grid-area: 1 / 2 }
  .div3 { grid-area: 2 / 1 }
  .div4 { grid-area: 2 / 2 }  
  .div5 { grid-area: 3 / 1 }
  .div6 { grid-area: 3 / 2 }

  .normal_input {
    color: black;
    font-size: 0.9rem;
    background-color: transparent;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    display: inline;
    overflow: hidden;
    position: inherit;
   }
   /* styling of animated border */
   .input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
   }
   /* Hover on Input */
   input:hover {
    background: var(--input-hovered-color);
   }
   
   input:focus {
    outline: none;
   }
   /* here is code of animated border */
   input:focus ~ .input-border {
    width: 100%;
   }
