#popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #fff;
    padding-bottom: 10px;
    border: 1px solid #D3D3D3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#popup_header {
    height: 25px;
    width: 100%;
    background-color: #D3D3D3;
    cursor: move;
}

.section {
    margin: 5px;
}

.btn {
    margin-right: 5px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #555;
}